@namespace SPAClient.Components

@if (Loading)
{
    <div class="loading-animation-wrapper">
        <Spin Size="large" />
    </div>
}

@code{
    [Parameter]
    public bool Loading { set; get; }
}
